/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.game-info p {
    margin: 0;
    text-shadow: black 2px 2px 2px;
}

@font-face {
    font-family: marvelFont;
    src: url('fonts/Marvel.ttf') format('truetype');
}

@font-face {
    font-family: comicFont;
    src: url('fonts/comicFont.ttf') format('truetype');
}

body {
    font-family: marvelFont;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/ironman-gb-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    min-width: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.6)));
    background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1 {
    text-align: center;
    color: red;
    font-size: 4em;
    letter-spacing: 0.2rem;
    text-shadow: black 2px 2px 2px;
}

#soundToggler {
    background-repeat: no-repeat;
    background-size: cover;
    height: 2rem;
    width: 2rem;
    border: solid 2px red;
    border-radius: 1rem;
    background-color: red;
    background-position: center;
    margin-left: .5rem;
    margin-bottom: 2rem;
}

.soundOn {
    background-image: url('images/unmute_icon.png');
}

.soundOff {
    background-image: url('images/mute_icon.png');
}

.game-info-container {
    text-align: center;
    color: red;
    font-size: 2.5em;
    line-height: 2rem;
}

.game-info-container span {
    font-family: comicFont;
    font-size: 1em;
    letter-spacing: .2rem;
    color: yellow;
    margin-left: .5rem;
}

.btn {
    font-family: comicFont;
    font-size: 2.5rem;
    color: yellow;
    margin-top: 1rem;
    background-color: transparent;
    border: solid 1px yellow;
}

a {
    margin: 0;
    font-family: comicFont;
    color: red;
    text-decoration: none;
    background-color: transparent;
    font-size: 2rem;
    cursor: url(images/spider-hand.cur), default;
}

a span {
    color: yellow;
    text-decoration: underline;
}

a:hover,
.btn:hover {
    -webkit-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    transition: 0.3s ease-in;
    color: whitesmoke;
    text-decoration: none;
    text-shadow: black 2px 2px 2px;
    cursor: url(images/spider-hand.cur), default;
    border: solid 1px whitesmoke;
}

.overlay-text {
    display: none;
    position: fixed;
    color: red;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 100;
}

.overlay-text.visible {
    -webkit-animation: overlay-grow 500ms forwards;
    animation: overlay-grow 500ms forwards;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.overlay-text p {
    font-size: 5.5rem;
}

@-webkit-keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, 0.75);
        font-size: 9em;
    }
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, 0.85);
        font-size: 9em;
    }
}

.memory-game {
    height: 80vh;
    width: 65vh;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1em 1fr 1em 1fr 1em 1fr;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    cursor: url(images/spider-hand.cur), default;
}

.memory-game.hero {
    width: 80vh;
    -ms-grid-columns: 1fr 1em 1fr 1em 1fr 1em 1fr;
    grid-template-columns: auto auto auto auto auto;
}

.memory-card {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(233, 33, 33);
    border-radius: 5px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform .75s;
    -webkit-transition: -webkit-transform .75s;
    -o-transition: transform .75s;
    transition: transform .75s;
    transition: transform .75s, -webkit-transform .75s;
    -webkit-box-shadow: #191919 5px 5px 5px 0px;
    box-shadow: #191919 5px 5px 5px 0px;
}

#footer-text {
    margin-left: 1.5rem;
    color: whitesmoke;
    font-size: 1.5rem;
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 3em;
    }
    .memory-game,
    .memory-game.hero {
        width: 35vh;
        display: -ms-grid;
        display: grid;
        margin: auto;
        -ms-grid-columns: 1fr 1em 1fr;
        grid-template-columns: repeat( 2, 1fr);
        grid-auto-rows: 20vh;
        grid-column-gap: 1em;
        grid-row-gap: 2em;
        margin-bottom: 2em;
    }
    .wrapper {
        min-height: 230vh;
    }
}

@media screen and (max-height: 425px) and (max-width: 854px) {
    .wrapper {
        min-height: 190vh;
    }
    .memory-game,
    .memory-game.hero {
        width: 130vh;
        height: 140vh;
    }
}

.memory-card:active {
    -webkit-transform: scale(.97);
    -ms-transform: scale(.97);
    transform: scale(.97);
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.memory-card.flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: transparent;
    -webkit-box-shadow: #af1616 -5px 5px 5px 0px;
    box-shadow: #af1616 -5px 5px 5px 0px;
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out;
}

.front-face,
.back-face {
    width: 100%;
    border-radius: 5px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.back-face {
    height: 85%;
    background-color: rgb(233, 33, 33);
}

.front-face {
    height: 100%;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.prize-bio {
    line-height: 2rem;
}

footer {
    font-family: comicFont;
}

.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}