* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@font-face {
    font-family: marvelFont;
    src: url('fonts/Marvel.ttf') format('truetype');
}

@font-face {
    font-family: comicFont;
    src: url('fonts/comicFont.ttf');
}

body {
    font-family: marvelFont;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('images/ironman-gb-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1 {
    text-align: center;
    color: red;
    font-size: 4em;
    letter-spacing: 0.2rem;
}

.game-info-container {
    text-align: center;
    color: red;
    font-size: 2.5em;
}

.game-info-container span {
    font-family: comicFont;
    font-size: 1em;
}

.overlay-text {
    display: none;
    position: fixed;
    color: red;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.overlay-text.visible {
    animation: overlay-grow 500ms forwards;
    display: flex;
    flex-direction: column;
}

.overlay-text span {
    font-size: .3em;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, 0.75);
        font-size: 9em;
    }
}

.memory-game {
    height: 75vh;
    width: 65vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0.2vh;
    background-color: rgb(233, 33, 33);
    border-radius: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .75s;
}


/* media queries */

@media screen and (max-width: 767px) {
    .wrapper {
        min-height: 230vh;
    }
    .memory-game {
        width: 40vh;
        display: grid;
        margin: auto;
        grid-template-columns: repeat( 2, 1fr);
        grid-auto-rows: 20vh;
        grid-column-gap: 1em;
        grid-row-gap: 2em;
        margin-bottom: 2em;
    }
    .memory-card {
        width: 100%;
        height: 100%;
    }
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s ease-out;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.memory-card.flip.matched {
    background-image: linear-gradient(45deg, black, white);
    background-size: 400%;
    animation: match-animation 1.5s infinite alternate;
}

@keyframes match-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.front-face,
.back-face {
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    border: 1px solid black;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}

#footer-text {
    font-family: marvelFont;
    color: white;
    font-size: 1rem;
}